
// Body
$body-bg: #f8fafc;
$page-width: 1200px;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #008080;
$lighter-teal: #00cdcd;

$cyan: #6cb2eb;

@function calculateRem($size) {
  $remSize: $size / 10px;
  @return #{$remSize}rem;
}
