
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// keyframes
@import 'animations';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body{
  font-family: $font-family-sans-serif;
  scroll-behavior: smooth;

  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }

  .full-height {
    height: 100vh;
  }

  .owl-carousel {
    -ms-touch-action: none;
    touch-action: none;

    .owl-nav{
      display: none;
    }
  }

  div.blocks{
    margin: 0 auto;
    width: $page-width;

    &#projects{
      h1{
        border-bottom: 3px solid $green;

      }
    }

    &#contact{
      h1{
        border-bottom-color: $red;
      }
    }
    h1.display-4{
      border-bottom: 3px solid $blue;
    }

    &.right{
      h1{
        text-align: right;
      }
    }
    div.container, div.owl-carousel{
      margin: 70px 0;
      div.row{
        margin: 0;

        div.col-sm-4{
          display: flex;
          justify-content: center;

          div.card{
            width: 18rem;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06)
          }
        }

      }
    }
  }

}

.area-restrict{
  height: 350px;

  .dropzone {
    background-color: $lighter-teal;
    border: dashed 4px $teal;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  }

  div.col-sm-8{
    div.item-list{

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &:last-child{
        margin-top: 20px;
      }

      .item {
        touch-action: none;
        user-select: none;
        padding: 10px 20px;
        background: $teal;
        color: $white;
        border: 1px solid black;

      }
    }
  }
}

.footer-bottom-area{
  background: $teal;

  .copyright{
    padding: 20px 0;
    color: $white;
  }
}
div.picture{
  width: 400px;
  height: 200px;

  div.my-picture{
    background-image: url('/storage/noman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: 84px;
}

.links{
  display: flex;
  width: 400px;
  justify-content: space-between;

  a {
    color: #636b6f;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.m-b-md {
  margin-bottom: 30px;
}

.text-js{
  opacity: 0;
}

div.footer-bottom-area{

    div.social-links{
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 5px;

      a.social-link{
        height: 38px;
        width: 38px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        background-color: $white;
        color: #3e484e;
        border-radius: 50%;
        transition: all 200ms ease;

        &:hover{
          text-decoration: none;
          transform: translateY(-8px);

          i.fa-linkedin{
            color: #0073b1;
          }
          i.fa-github-square{
            color: #339af0;
          }
          i.fa-gitlab{
            color: #fa7035;
          }
          i.fa-reddit-square{
            color: #FF4500;
          }
        }
      }
    }
  }


.cursor{
  display: block;
  position: absolute;
  height: 100px;
  top: 0;
  right: -5px;
  width: 4px;
  /* Change colour of Cursor Here */
  background-color: #ff9248;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}


#outer_circle{
  animation-name: rotate;
  animation-duration: 15.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}


.box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;

  .spinner {
    height: 200px;
    width: 200px;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;

    &--3 {
      border: 5px solid rgba(0, 0, 0, 0.4);
      border-bottom-color: #fff;
      border-top-color: #fff;
      animation: spinner3 800ms ease infinite;
    }
  }
}

.back-top-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #bc1a1a;
  padding: 0 10px;
  z-index: 13;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}


@media (max-width: 768px) {

  body{

    h1.display-4, h1.title{
      font-size: calculateRem(28px);
    }

    .cursor{
      height: calculateRem(31px);
    }


    .links{
      width: calculateRem(200px);
      flex-direction: column;

      a[href="#projects"]{
        margin: 1rem 0;
      }
    }

    div.blocks{
      width: 100%;

      div.container{
          margin: calculateRem(20px) 0;

          &.area-restrict{
            height: 45rem;

            .dropzone {

              margin: 1rem auto 3rem;
              padding: 1rem;
            }

            div.col-sm-8{
              div.item-list{

                justify-content: unset;
                &:last-child{
                  margin-top: 1rem;
                }

                .item {
                  padding: 1rem 2rem;


                }
              }
            }
          }
        }
      }
    }
  }



.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}